<app-navbar></app-navbar>

<h1>{{ error }}</h1>
<div class="board">
  <div class="column">
    <div class="headline">
      <h2>Todos</h2>
      <button (click)="toggleNewTicketOverlay()" class="btn btn-primary btn-individual">
        +
      </button>
    </div>
    <div>
      <ul id="column-todo">
        <li
          *ngFor="let ticket of todoTickets"
          [style.backgroundColor]="getCardBackgroundColor(ticket.color)"
          class="card"
          >
          <h5 class="card-title">{{ ticket.title }}</h5>
          <p class="card-text">{{ ticket.description }}</p>
          <div class="card-body">
            <div class="card-body--section">
              <p class="card-text--info">
                <span>Erstellt von: </span>
                <span>{{ ticket.created_by_username }}</span>
              </p>
              <p class="card-text--info">
                <span>Erstellt am: </span><span>{{ ticket.created_at }}</span>
              </p>
            </div>

            <div class="card-body--section">
              <p class="card-text--info">
                <span>Priorität: </span><span>{{ ticket.priority }}</span>
              </p>
              <p class="card-text--info">
                <span>Fällig am: </span><span>{{ ticket.due_date }}</span>
              </p>
            </div>

            <div class="card-row">
              <button
                (click)="toggleEditTicketOverlay(ticket)"
                class="btn btn-primary btn-card btn-individual"
              >
                Bearbeiten
              </button>
              <button
                (click)="toggleDeleteTicketOverlay(ticket)"
                class="btn btn-danger btn-card btn-individual--delete"
              >
                Löschen
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="column">
    <div class="headline">
      <h2>In progress</h2>
      <button (click)="toggleNewTicketOverlay()" class="btn btn-primary btn-individual">
        +
      </button>
    </div>
    <div>
      <ul id="column-progress">
        <li
          *ngFor="let ticket of progressTickets"
          [style.backgroundColor]="getCardBackgroundColor(ticket.color)"
          class="card card-color"
        >
          <h5 class="card-title">{{ ticket.title }}</h5>
          <p class="card-text">{{ ticket.description }}</p>
          <div class="card-body">
            <div class="card-body--section">
              <p class="card-text--info">
                <span>Erstellt von: </span
                ><span>{{ ticket.author_username }}</span>
              </p>
              <p class="card-text--info">
                <span>Erstellt am: </span><span>{{ ticket.created_at }}</span>
              </p>
            </div>

            <div class="card-body--section">
              <p class="card-text--info">
                <span>Priorität: </span><span>{{ ticket.priority }}</span>
              </p>
              <p class="card-text--info">
                <span>Fällig am: </span><span>{{ ticket.due_date }}</span>
              </p>
            </div>
            <div class="card-row">
              <button
                (click)="toggleEditTicketOverlay(ticket)"
                class="btn btn-primary btn-card btn-individual"
              >
                Bearbeiten
              </button>
              <button
                (click)="toggleDeleteTicketOverlay(ticket)"
                class="btn btn-danger btn-card btn-individual--delete"
              >
                Löschen
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="column">
    <div class="headline">
      <h2>Feedback</h2>
      <button (click)="toggleNewTicketOverlay()" class="btn btn-primary btn-individual">
        +
      </button>
    </div>
    <div>
      <ul id="column-feedback">
        <li
          *ngFor="let ticket of feedbackTickets"
          [style.backgroundColor]="getCardBackgroundColor(ticket.color)"
          class="card"
        >
          <h5 class="card-title">{{ ticket.title }}</h5>
          <p class="card-text">{{ ticket.description }}</p>
          <div class="card-body">
            <div class="card-body--section">
              <p class="card-text--info">
                <span>Erstellt von: </span
                ><span>{{ ticket.author_username }}</span>
              </p>
              <p class="card-text--info">
                <span>Erstellt am: </span><span>{{ ticket.created_at }}</span>
              </p>
            </div>

            <div class="card-body--section">
              <p class="card-text--info">
                <span>Priorität: </span><span>{{ ticket.priority }}</span>
              </p>
              <p class="card-text--info">
                <span>Fällig am: </span><span>{{ ticket.due_date }}</span>
              </p>
            </div>
            <div class="card-row">
              <button
                (click)="toggleEditTicketOverlay(ticket)"
                class="btn btn-primary btn-card btn-individual"
              >
                Bearbeiten
              </button>
              <button
                (click)="toggleDeleteTicketOverlay(ticket)"
                class="btn btn-danger btn-card btn-individual--delete"
              >
                Löschen
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="column">
    <div class="headline">
      <h2>Done</h2>
      <button (click)="toggleNewTicketOverlay()" class="btn btn-primary btn-individual">
        +
      </button>
    </div>
    <div>
      <ul id="column-done">
        <li
          *ngFor="let ticket of doneTickets"
          [style.backgroundColor]="getCardBackgroundColor(ticket.color)"
          class="card"
        >
          <h5 class="card-title">{{ ticket.title }}</h5>
          <p class="card-text">{{ ticket.description }}</p>
          <div class="card-body">
            <div class="card-body--section">
              <p class="card-text--info">
                <span>Erstellt von: </span
                ><span>{{ ticket.author_username }}</span>
              </p>
              <p class="card-text--info">
                <span>Erstellt am: </span><span>{{ ticket.created_at }}</span>
              </p>
            </div>

            <div class="card-body--section">
              <p class="card-text--info">
                <span>Priorität: </span><span>{{ ticket.priority }}</span>
              </p>
              <p class="card-text--info">
                <span>Fällig am: </span><span>{{ ticket.due_date }}</span>
              </p>
            </div>
            <div class="card-row">
              <button
                (click)="toggleEditTicketOverlay(ticket)"
                class="btn btn-primary btn-card btn-individual"
              >
                Bearbeiten
              </button>
              <button
                (click)="toggleDeleteTicketOverlay(ticket)"
                class="btn btn-danger btn-card btn-individual--delete"
              >
                Löschen
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-ticket-form
  *ngIf="showOverlay"
  [ticket]="currentTicket"
  [isEditMode]="isEditMode"
></app-ticket-form>
